.button button {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    border-width: 5px;
    margin: 10px;
   background-color: lightsteelblue;
}

.button input {
    width: 111px;
    height: 45px;
    border-radius: 5px;
    border-width: 5px;
    margin: 10px;
}